.mat-dialog-content {
  overflow: inherit;
}

.mat-raised-button {
  border-radius: 0;
}

.mat-dialog-actions {
  display: block;
}

.mat-radio-button {
  margin-right: 30px;
}

.row {
  display: block;
}

.field {
  margin: 5px;
}

.radio-row {
  padding: 30px 10px 0 5px;
}

.mat-dialog-title {
  margin: 0;
}

.color {
  height: 35px;
}

.aster {
  color: #f44336;
}
